{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.1.0/chartjs-plugin-annotation.min.js"></script>
  </head>
  <body>
    <div style="max-width: 920px;">
        <canvas id="myChart"></canvas>
    </div>
    <script type="module">
        const ctx = document.getElementById('myChart');
        let resp = await fetch("/api/spots/6f489e26-bc41-42dc-b9ec-e7b62da0b150/timeseries/");
        let data = await resp.json();
        let snapshotCreatedSet = data.map(s => s.hour);
        let waveHeightSet = data.map(s => s.wave_height);
        let wss1hPrediction = data.map(s => s.wss1h);
        let now = new Date();
        let graphCurrentHour = now.getUTCHours()*2+(now.getUTCMinutes()/60)*2;
        const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: snapshotCreatedSet,
                datasets: [
                    {
                        label: 'wave height',
                        data: waveHeightSet,
                        borderWidth: 1,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.4,
                        yAxisID: 'y',
                    },
                    {
                        label: 'wss 1hour prediction',
                        data: wss1hPrediction,
                        borderWidth: 1,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.4,
                        yAxisID: 'y1',
                    },
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    annotation: {
                        annotations: {
                            line1: {
                                type: 'line',
                                scaleID: 'x',
                                value: graphCurrentHour,
                                borderColor: 'green',
                                borderWidth: 1,
                                label: {
                                    display: true,
                                    content: "now",
                                    backgroundColor: 'rgba(0,0,0,0.6)',
                                    position: "20%",
                                }
                            },
                        }
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function(value, index, ticks) {
                                return value+' cm';
                            }
                        },
                        type: 'linear',
                        display: true,
                        position: 'left',
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 500,
                    },
                    y1: {
                        title: {
                            display: true,
                            text: "wave size score",
                        },
                        type: 'linear',
                        display: true,
                        position: 'right',
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 5,
                        // grid line settings
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                },
            }
        });
    </script>
  </body> 
</html> 