{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@0,300;0,400;&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css"/>

  </head> 
  <body>
    <div class="main">
      <div class="box">
        <div id="main">
              <img id="logo" src="{% static 'surfin_logo.svg' %}" alt="sine logo" width="220px"/>
              <div id="intro">Just a casual experiment</div>
        </div>
        <!-- <div id="intro">Hello, I'm Denny, a passionate developer who loves to expertiment. Here a completely open source project fully powered by meteonetwork, windy and mareografico, with the aim of providing free <b>surf alerts</b> and real time weather in your surfing spot.</div> -->
        <div id="footer">#surf_alerts #real_time_weather #webcams</div>
    </div>
    <div id="surf"></div>
    </script>
  </body> 
</html> 